html {
	display: flex;
	flex-direction: column;
}
body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: center;
	width: 320px;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
ul,
button,
input {
	padding: 0;
	margin: 0;
}

h1 {
	align-self: center;
	color: green;
}

h2 {
	align-self: center;
	text-align: center;
	color: darkcyan;
}

h3 {
	color: blueviolet;
	margin-top: 1em;
	margin-left: 0.5em;
}

button,
.form-input-submit {
	font-size: 1em;
	color: darkgreen;
	border-radius: 5%;
	margin-top: 1em;
	margin-left: 0.5em;
	width: 8em;
}

.your-nums-ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 1em;
}

.your-nums-ul > li {
	font-size: 1.5em;
	color: red;
	text-align: center;
	border: 2px solid blue;
	border-radius: 50%;
	/* using min-width/-height to keep "balls" uniform circles */
	/* however, these properties do not play well with the box model */
	min-width: 1em;
	min-height: 1em;
}

.win {
	font-size: 1.1em;
	color: fuchsia;
	list-style-type: none;
	margin-left: 1em;
}

.form-special {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.form-label {
	color: midnightblue;
	font-size: 1.1em;
	margin-left: 1em;
}

.form-input-num {
	font-size: 1.3em;
	color: darkmagenta;
	border: none;
	width: 2em;
}
